<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no" />
	<title>风险测评</title>
	<link rel="stylesheet" href="../../../data/jijin/css/mui.min.css">
	<link rel="stylesheet" href="../../../data/jijin/css/priv.css">
</head>
<body>
	
<script src="../../../data/jijin/js/mui.min.js"></script>
<script>
	mui.init();
	mui.ajax('/Pf_assessment/read_question',{
		type: 'get',
		dataType: 'json',
		data: {},
		async: false,
		success: function(res) {
console.log(res);
			if (res.code === 0) {
				renderQues(res.data);						
			}else {
				alert('返回错误！');
			}
		},
		error: function(xhr) {
			alert('获取题目出错！')
		}
	});
	function renderQues(data) {
		var ques = [];
		for (var i = 0; i < data.length; i++) {
			var type = {};

		}
	}
	function eliminateDuplicates(arr) {
	 var i,
	 len=arr.length,
	 out=[],
	 obj={};
	 for (i=0;i<len;i++) {
		 obj[arr[i]]=0;
console.log(obj);
console.log(arr[i]);
	 }
	 for (i in obj) {
		 out.push(i);
	 }
	 return out;
	}
	var a = [1,1,2,2,3,3,4,4];
	eliminateDuplicates(a);
</script>
</body>
</html>