<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no" />
	<title>风险测评</title>
	<link rel="stylesheet" href="../../../data/jijin/css/mui.min.css">
	<link rel="stylesheet" href="../../../data/jijin/css/priv.css">
</head>
<body class="risk-test">
	<header class="head">
	  <div class="head-back">
	    <span class="head-back-icon" onclick="window.history.go(-1)">返回</span>
	  </div>
	</header>
	<h1 class="risk-test-title">风险等级测评</h1>
	<form action="/Pf_assessment/get_assessment" method="post" id="riskTest"> 
		<section class="risk-test-content" >
			
		</section>		
	</form>
	<button data-role="submit" data-theme="b" id="riskSubmit" class="risk-btn-submit">提交</button>
	<button class="risk-back" onclick="history.go(-1);">返回</button>
<script src="../../../data/jijin/js/mui.min.js"></script>
<script>
	mui.init();
	mui.ajax('/Pf_assessment/read_question',{
		type: 'get',
		dataType: 'json',
		data: {},
		async: false,
		success: function(res) {
// console.log(res);
			if (res.code === 0) {
				renderQues(res.data);
			}else {
				alert('返回错误！');
			}
		},
		error: function(xhr) {
			alert('获取题目出错！');
		}
	});

	document.getElementById('riskSubmit').addEventListener('click', function(e) {
		e.preventDefault();
		var ques = document.getElementsByClassName('risk-question');
		var tips = [];
		for(var i = 0;i < ques.length;i ++ ) {
		  var name = ques[i].getAttribute('name');
		  var answer = ques[i].parentNode.querySelectorAll('input[type=radio]');
		  var checked = false;
		  if (answer.length) {
			  for(var j = 0;j < answer.length; j ++){
					checked = checked || answer[j].checked;

			  }
			  if(!checked) {
			    tips.push(name);
			  }		  	
		  }
			var found = false;
			var found2 = false;
			if (name == '3_4') {
				var an = document.getElementsByName('3_4_A')[0];
				var bn = document.getElementsByName('3_4_B')[0];
				var cn = document.getElementsByName('3_4_C')[0];
				var dn = document.getElementsByName('3_4_D')[0];
				var en = document.getElementsByName('3_4_E')[0];
				if (an.checked) {found = true;}
				if (bn.checked) {found = true;}
				if (cn.checked) {found = true;}
				if (dn.checked) {found = true;}
				if (en.checked) {found = true;}

				if (!found) {tips.push(name);}
			}
			if (name == '4_3') {
				var ans = document.getElementsByName('4_3_A')[0];
				var bns = document.getElementsByName('4_3_B')[0];
				var cns = document.getElementsByName('4_3_C')[0];
				var dns = document.getElementsByName('4_3_D')[0];
				if (ans.checked) {found2 = true;}
				if (bns.checked) {found2 = true;}
				if (cns.checked) {found2 = true;}
				if (dns.checked) {found2 = true;}

				if (!found2) {tips.push(name);}
			}
		}
		if (tips.length) {
			alert('您还有第'+tips+'题没做！');
		}else {
			getRiskResult();
		}
	});

	function getRiskResult() {
		var ques = document.getElementsByClassName('risk-question');
		var formArr = [];
		for (var i = 0; i < ques.length; i++) {
			var index = ques[i].getAttribute('name');
		  var answer = ques[i].parentNode.querySelectorAll('input[data-name=box]');
			var value;
		  for(var j = 0, length2 = answer.length; j < length2; j++){
		  	var a = {};
		  	if (answer[j].checked) {
		  		// a.name = answer[j].name;
		  		// a.value = answer[j].value;
		  		a[answer[j].name] = answer[j].value;
					formArr.push(a);
		  	}
		  }
		}
console.log(typeof JSON.stringify(formArr));
		mui.ajax('/Pf_assessment/get_assessment',{
			type: 'post',
			dataType: 'json',
			data: {			
				data: JSON.stringify(formArr) 
			},
			success: function(res) {
console.log(res);
				if (res.code === 0) {
					localStorage.setItem('result',res.data.levelcomment);
					window.location.href = '/application/views/privateFund/testResult.html?test=1';					
				}
			},
			error: function(xhr) {
				alert('请求错误');
			}
		});
	}


	function renderQues(data) {
		var quesArr = eliminateDuplicates(data);
// console.log(eliminateDuplicates(data));
		var test = document.createDocumentFragment();

		for (var i = 0; i < quesArr.length; i++) {
			var wrap = document.createElement('div');
			wrap.classList.add('risk-type');
			var type = document.createElement('h4');
			wrap.appendChild(type);
			type.innerHTML = quesArr[i].type_name;

			for(var j = 0, length2 = data.length; j < length2; j++){
				if (quesArr[i].type == data[j].type) {
					var quesWrap = document.createElement('div');
					quesWrap.classList.add('risk-type-content');
					var ques = document.createElement('p');
					ques.setAttribute('name', i + '_' + data[j].question_no);
					ques.classList.add('risk-question');
					ques.innerHTML = data[j].question_no + '.' + data[j].question;
					quesWrap.appendChild(ques);
					
					for(var k = 0; k < data[j].answerlist.length; k++){
						if (data[j].answerlist[k]) {
							var answer = document.createElement('input');
							var lab = document.createElement('label');
							var labDiv = document.createElement('div');
							labDiv.classList.add('input-wrap');
							lab.classList.add('risk-answer');
							lab.style.display = 'block';
							var text = document.createTextNode(String.fromCharCode(64 + parseInt(k + 1)) + '.' + data[j].answerlist[k]);
							answer.setAttribute('type', 'radio');
							answer.dataset.name = 'box';
							answer.value = String.fromCharCode(64 + parseInt(k + 1));
							answer.name = i + '_' + data[j].question_no;
							if (answer.name == '3_4' || answer.name == '4_3') {
								answer.setAttribute('type', 'checkbox');
								answer.name = answer.name + '_' + answer.value;
							}
							answer.id = String.fromCharCode(64 + parseInt(k + 1)) + 0 + i + '_' + data[j].question_no;
							lab.setAttribute('for', String.fromCharCode(64 + parseInt(k + 1)) + 0 + i + '_' + data[j].question_no);
							lab.appendChild(text);
							labDiv.appendChild(answer);
							labDiv.appendChild(lab);
							quesWrap.appendChild(labDiv);
						}
					}
					wrap.appendChild(quesWrap);
				}
			}
			test.appendChild(wrap);
		}
// console.log(test);
		document.querySelector('.risk-test-content').appendChild(test);
	}



	function eliminateDuplicates(arr) {
     var i,
     len=arr.length,
     out=[],
    obj={};
     for (i=0;i<len;i++) {
	      obj[arr[i].type] = arr[i].type_name;
     }
     for (i in obj) {
     	var item = {};
     	item.type = i;
     	item.type_name = obj[i];
        out.push(item);
     }
     return out;
  }
	
</script>
</body>
</html>