<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no" />	
	<title>私募基金</title>
	<link rel="stylesheet" href="../../../data/jijin/css/mui.min.css">
	<link rel="stylesheet" href="../../../data/jijin/css/priv.css">
</head>
<body>
	<header class="head">
	  <div class="head-back">
	    <span class="head-back-icon" onclick="window.history.go(-1)">返回</span>
	  </div>
	</header>
	<div class="mui-content">
		<div id="slider" class="mui-slider" style="margin: 10px 0;">
			<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted mui-segmented-control-negative" style="background-color: #fff;">
				<a class="mui-control-item mui-active" href="#item1mobile">
					股权型
				</a>
				<a class="mui-control-item" href="#item2mobile">
					海外型
				</a>
				<a class="mui-control-item" href="#item3mobile">
					对冲型
				</a>
				<a class="mui-control-item" href="#item4mobile">
					股票型
				</a>
				<a class="mui-control-item" href="#item5mobile">
					债券型
				</a>
			</div>
			<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-pri-5"></div>
			<div class="mui-slider-group" id="info" style="height: 600px;">
				<div id="item1mobile" data-type="1" style="border-bottom: 0;" class="mui-slider-item mui-control-content mui-active">
					<div id="scroll1" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<div class="mui-loading">
								<div class="mui-spinner">
								</div>
							</div>
								
						</div>
					</div>
				</div>
				<div id="item2mobile" data-type="2" style="border-bottom: 0;" class="mui-slider-item mui-control-content">
					<div id="scroll2" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<div class="mui-loading">
								<div class="mui-spinner">
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div id="item3mobile" data-type="3" style="border-bottom: 0;" class="mui-slider-item mui-control-content">
					<div id="scroll3" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<div class="mui-loading">
								<div class="mui-spinner">
								</div>
							</div>
								
						</div>
					</div>
				</div>
				<div id="item4mobile" data-type="4" style="border-bottom: 0;" class="mui-slider-item mui-control-content">
					<div id="scroll4" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<div class="mui-loading">
								<div class="mui-spinner">
								</div>
							</div>
								
						</div>
					</div>
				</div>
				<div id="item5mobile" data-type="5" style="border-bottom: 0;" class="mui-slider-item mui-control-content">
					<div id="scroll5" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<div class="mui-loading">
								<div class="mui-spinner">
								</div>
							</div>
								
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
	<div class="order-box" id="order" style="display: none;">
		<div class="mui-popup-inner">
			<div class="mui-popup-title">预约咨询</div>
			<div class="mui-popup-input">
				<input type="text" id="custName" autofocus="" placeholder="姓名">
				<input type="text" id="custPhone" placeholder="电话">
			</div>
		</div>
		<div class="mui-popup-buttons">
			<span class="mui-popup-button" id="cancel">取消</span>
			<span class="mui-popup-button mui-popup-button-bold" id="confirm">确定</span>
		</div>
	</div>
<script src="../../../data/jijin/js/mui.min.js"></script>
<script src="../../../data/jijin/js/pri.js"></script>
</body>
</html>