ul li{
	list-style: none;
}
.content-head {
    background: #fff;
    padding: 6px 15px;
}
.text-right{
	text-align: right;
}
.content-head .mui-col-xs-6{
    line-height: 25px;
}
.content-body{
	background: #fff;
}
.content-body p{
    line-height: 20px;
    padding: 5px 5px 0;
    
}
.text-center{
	text-align: center;
}
.border-bottom{
	border-bottom: 1px solid #ccc;
}
#manageCont .manage .mui-col-xs-6{
	line-height: 35px;
}
.comment{
    margin-top: 10px;
    padding: 5px 5px 1px;
    background: #fff;
}
#buyRate .mui-row, #rateCont .mui-row{
	font-size: 14px;;
}
