<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>公募基金首页</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="keywords" content="小牛资本">
	<meta name="description" content="小牛资本集团公募基金代销系统">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="<?php echo $base.'/data/jijin/css/mui.min.css';?>">
	<link rel="stylesheet" href="<?php echo $base.'/data/jijin/css/style.css';?>">
</head>
<body>
	<nav class="mui-bar mui-bar-tab">
		<a class="mui-tab-item mui-active" href="#tabbar">
			<span class="mui-icon icon-home iconfont"></span>
			<span class="mui-tab-label">基金首页</span>
		</a>
		<a class="mui-tab-item" href="#tabbar-with-chat" id="buy_fund">
			<span class="mui-icon icon-email iconfont"></span></span>
			<span class="mui-tab-label">购买基金</span>
		</a>
		<a class="mui-tab-item" href="#tabbar-with-contact" id="my">
			<span class="mui-icon icon-contact iconfont"></span>
			<span class="mui-tab-label">我的基金</span>
		</a>	
		<a class="mui-tab-item" href="#tabbar-with-contact" id="exit">
			<span class="mui-icon icon-exit iconfont"></span>
			<span class="mui-tab-label">退出基金</span>
		</a>	
	</nav>
	<div class="mui-content">
		<div class="mui-slider slider-height">
			<div class="mui-slider-group mui-slider-loop">
				<div class="mui-slider-item"><a href="#"><img src="<?php echo $base.'/data/jijin/img/banner2.jpg';?>" class="slider-height" alt="huodong"></a></div>
				<div class="mui-slider-item"><a href="#"><img src="<?php echo $base.'/data/jijin/img/banner1.jpg';?>" class="slider-height" alt="xuanchuan"></a></div>
				<div class="mui-slider-item"><a href="#"><img src="<?php echo $base.'/data/jijin/img/banner2.jpg';?>" class="slider-height" alt="ssss"></a></div>
				<div class="mui-slider-item"><a href="#"><img src="<?php echo $base.'/data/jijin/img/banner1.jpg';?>" class="slider-height" alt="ssss"></a></div>
			</div>
			<div class="mui-slider-indicator">
				<div class="mui-indicator mui-active"></div>
				<div class="mui-indicator"></div>
			</div>
		</div>
		<div class="fund-list">
			<span class="fund-list-title">热销基金</span>
			<ul class="mui-table-view bd-radius">
				<li class="mui-table-view-cell mui-media">
					<a href="###">
						<img src="<?php echo $base.'/data/jijin/img/fund-product01.png';?>" alt="平安大华" class="mui-media-object mui-pull-left" >
						<div class="mui-media-body">
							<p>名称：<span>平安大华基金</span></p>
							<p>代码：<span>000333</span></p>
							<p>净值：<span>￥188.90</span></p>
							<p class="fund-detail">详情></p>
							<p>类型：<span>混合型</span></p>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="###">
						<img src="<?php echo $base.'/data/jijin/img/fund-product02.png';?>" alt="平安大华" class="mui-media-object mui-pull-left">
						<div class="mui-media-body">
							<p>名称：<span>平安大华基金</span></p>
							<p>代码：<span>000333</span></p>
							<p>净值：<span>￥188.90</span></p>
							<p class="fund-detail">详情></p>
							<p>类型：<span>混合型</span></p>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="fund-list">
			<span class="fund-list-title">推荐基金</span>
			<ul class="mui-table-view bd-radius">
				<li class="mui-table-view-cell mui-media">
					<a href="###">
						<img src="<?php echo $base.'/data/jijin/img/fund-product01.png';?>" alt="平安大华" class="mui-media-object mui-pull-left" >
						<div class="mui-media-body">
							<p>名称：<span>平安大华基金</span></p>
							<p>代码：<span>000333</span></p>
							<p>净值：<span>￥188.90</span></p>
							<p class="fund-detail">详情></p>
							<p>类型：<span>混合型</span></p>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media ">
					<a href="###">
						<img src="<?php echo $base.'/data/jijin/img/fund-product02.png';?>" alt="平安大华" class="mui-media-object mui-pull-left">
						<div class="mui-media-body">
							<p>名称：<span>平安大华基金</span></p>
							<p>代码：<span>000333</span></p>
							<p>净值：<span>￥188.90</span></p>
							<p class="fund-detail">详情></p>
							<p>类型：<span>混合型</span></p>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="mui-slider mb10">
	        <div class="mui-slider-group mui-slider-loop">
	            <div class="mui-slider-item mui-slider-item-duplicate">
	                
	            </div>
	            <div class="mui-slider-item">
	                <ul class="mui-table-view mui-grid-view">
	                    <li class="mui-table-view-cell mui-media mui-col-xs-6">
	                    	<a href="###">
	                    		<img class="mui-media-object" id="fund-class" src="<?php echo $base.'/data/jijin/img/fund-product01.png';?>">
	                    		<span class="fund-list-title ps-correct">基金课堂</span>
	                    	</a>
	                    </li>
	                    <li class="mui-table-view-cell mui-media mui-col-xs-6">
	                    	<a href="###">
	                    		<img class="mui-media-object" id="fund-info" src="<?php echo $base.'/data/jijin/img/fund-product01.png';?>" >
	                    		<span class="fund-list-title ps-correct">基金资讯</span>
	                    	</a>
	                    </li>
	                </ul>
	            </div>		            
	        </div>		        
		</div>
	</div>
<script src="<?php echo $base.'/data/jijin/js/mui.min.js';?>"></script>
<script type="text/javascript">
	window.onload = function () {
		document.getElementById('buy_fund').addEventListener('tap', function() {
		  //打开购买基金页面
		  	mui.openWindow({
		    	url: '<?php echo $base;?>'+'/jijin/Jz_fund', 
		    	id:'buy_fund'
		  	});
		});
		document.getElementById('my').addEventListener('tap', function() {
		  //打开购买基金页面
		  	mui.openWindow({
		    	url: '<?php echo $base;?>'+'/jijin/Jz_my', 
		    	id:'my'
		  	});
		});
		document.getElementById('exit').addEventListener('tap', function() {
		  //退出基金		
		  	mui.openWindow({
			  	url: '/jijin/Jz_account/logout', 
		    	id:'exit'
		  	});
		});

		var gallery = mui('.mui-slider');
		gallery.slider({
			interval:3000
		});
	};
</script>
</body>
</html>

