<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="keywords" content="小牛资本">
	<meta name="description" content="小牛资本管理集团公募基金代销系统">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="<?php echo $base.'/data/jijin/css/mui.min.css';?>">
	<link rel="stylesheet" href="<?php echo $base.'/data/jijin/css/style.css';?>">
	<link rel="stylesheet" type="text/css" href="<?php echo $base.'/data/jijin/css/mui.picker.min.css';?>" />
</head>
<body>
	<nav class="mui-bar mui-bar-tab">
<!--  		
		<a class="mui-tab-item " href="#tabbar" id="home">
			<span class="mui-icon icon-home iconfont"></span>
			<span class="mui-tab-label">基金首页</span>
		</a>
-->
		<a class="mui-tab-item" href="#tabbar-with-chat" id="buy_fund">
			<span class="mui-icon icon-email iconfont"></span></span>
			<span class="mui-tab-label">购买基金</span>
		</a>
		<a class="mui-tab-item mui-active" href="#tabbar-with-contact">
			<span class="mui-icon icon-contact iconfont"></span>
			<span class="mui-tab-label">我的基金</span>
		</a>
		<a class="mui-tab-item" href="#tabbar-with-contact" id="exit">
			<span class="mui-icon icon-exit iconfont"></span>
			<span class="mui-tab-label">返回首页</span>
		</a>
	</nav>
	<div class="mui-content">
		<header class="person-info clear" id="header">			
			<img src="<?php echo $base.'/data/jijin/img/person-info.png';?>" alt="个人信息" class="person-info-img">
			<p class="person-info-item">hi:<span><?php echo isset($_SESSION ['customer_name'])?$_SESSION ['customer_name']:'未登录';?></span></p>				
			<p class="person-info-item">总资产：<span id="totalBalance">0</span></p>		
		</header>
		<div id="slider" class="mui-slider">
			<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
				<a class="mui-control-item" href="#item1mobile">
					<i class="bought-fund Cicon"></i>
					<p>我的资产</p>
				</a>
  
				<a class="mui-control-item" href="#item2mobile">
					<i class="iconfont Cicon bonus-change">&#xe607;</i>
					<p>修改分红</p>
				</a>
			
				<a class="mui-control-item" href="#item3mobile">
					<i class="risk-test Cicon"></i>
					<p>账户管理</p>
				</a>
			</div>
			<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>

			<div class="mui-slider-group" id="mWrap">
				<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
					<div id="scroll1" class="mui-scroll-wrapper">
						<div class="mui-scroll">							
							<ul class="mui-table-view" id="buyFundList">
								<div class="mui-loading">
									<div class="mui-spinner">
									</div>
								</div>														
							</ul>
						</div>
					</div>
				</div>
				<div id="item2mobile" class="mui-slider-item mui-control-content" style="border-bottom:none;">
					<div id="scroll2" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view" id="bonus-mod">			
								<div class="mui-loading">
									<div class="mui-spinner">
									</div>
								</div>											
							</ul>
						</div>
					</div>
				</div>
				<div id="item3mobile" class="mui-slider-item mui-control-content" style="border-bottom:none;">
					<div id="scroll3" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<div class="mui-loading">
								<div class="mui-spinner">
								</div>
							</div>
							<ul class="mui-table-view account-management" id="account">	
								<li class="my-bank-card"><a href="/jijin/Fund_bank/bank_info" class="dpb">银行卡维护</a></li>
<!-- 								
								<li class="my-logpwd-mod"><a href="<?php echo '/jijin/Jz_account/revise_passward/1';?>" class="dpb">登录密码修改</a></li>
-->							
								<li class="my-logpwd-mod"><a href="<?php echo '/jijin/Jz_account/revise_passward/0';?>" class="dpb">交易密码修改</a></li>
								<li class="my-risk-test"><a id="risk_result" href="<?php echo '/jijin/Risk_assessment';?>" class="dpb">风险测试[你还未进行测试]</a></li>			
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<input value="<?php echo $base;?>" type="hidden" id="url"></input>			
<script src="<?php echo $base.'/data/jijin/js/mui.min.js';?>"></script>
<script src="<?php echo $base.'/data/jijin/js/mui.picker.min.js';?>"></script>
<script src="<?php echo $base.'/data/jijin/js/my.js';?>"></script>
<script type="text/javascript">
	document.getElementById('buy_fund').addEventListener('tap', function() {
	  	//打开基金购买页		
	  	mui.openWindow({
		  	url: '<?php echo $base;?>'+'/jijin/Jz_fund', 
	    	id:'buy_fund'
	  	});
	});
	document.getElementById('exit').addEventListener('tap', function() {
	  	//退出基金,返回首页	
	  	mui.openWindow({
		  	url: '/jijin/Jz_account/logout', 
	    	id:'exit'
	  	});
	});
			 
</script>
</body>
</html>

