<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>个人中心</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="keywords" content="小牛资本">
  <meta name="description" content="小牛资本管理集团公募基金代销系统">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="/data/jijin/css/mui.min.css">
  <link rel="stylesheet" href="/data/jijin/css/style.css">
  <link rel="stylesheet" type="text/css" href="/data/jijin/css/mui.picker.min.css" />
</head>

<body>
  <nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item" href="#tabbar-with-contact" id="buy_fund">
      <span class="mui-icon icon-email iconfont"></span>
      <span class="mui-tab-label">购买基金</span>
    </a>
    <a class="mui-tab-item mui-active" href="#tabbar-with-contact">
      <span class="mui-icon icon-contact iconfont"></span>
      <span class="mui-tab-label">我的基金</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-with-contact" id="exit">
      <span class="mui-icon icon-exit iconfont"></span>
      <span class="mui-tab-label">返回首页</span>
    </a>
  </nav>
  <div class="mui-content">
    <header class="person-info clear" id="header">
      <img src="/data/jijin/img/person-info.png" alt="个人信息" class="person-info-img">
      <p class="person-info-item">hi:<span id="customerName"></span></p>
      <p class="person-info-item">
        总资产：<span id="totalBalance">0</span><br> 昨日收益：
        <span id="yesterDayIncome">0</span><br> 累计收益：
        <span id="totalIncome">0</span></p>
    </header>
    <div id="slider" class="mui-slider">
      <div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
        <a class="mui-control-item mui-active" href="#item1mobile">
          <i class="bought-fund Cicon "></i>
          <p>我的资产</p>
        </a>
        <a class="mui-control-item " href="#item2mobile">
          <i class="iconfont Cicon bonus-change">&#xe607;</i>
          <p>修改分红</p>
        </a>
        <a class="mui-control-item " href="#item3mobile">
          <i class="risk-test Cicon"></i>
          <p>账户管理</p>
        </a>
        <a class="mui-control-item" href="#item4mobile">
          <i class="history-delegate Cicon"></i>
          <p>历史委托</p>
        </a>
      </div>
      <!-- <div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-3"></div> -->

      <div class="mui-slider-group" id="mWrap">
        <div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
          <div id="scroll1" class="mui-scroll-wrapper">
            <div class="mui-scroll">
              <ul class="mui-table-view" id="buyFundList">
                <div class="mui-loading">
                  <div class="mui-spinner">
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div id="item2mobile" class="mui-slider-item mui-control-content " style="border-bottom:none;">
          <div id="scroll2" class="mui-scroll-wrapper">
            <div class="mui-scroll">
              <ul class="mui-table-view" id="bonus-mod">
                <div class="mui-loading">
                  <div class="mui-spinner">
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div id="item3mobile" class="mui-slider-item mui-control-content " style="border-bottom:none;">
          <div id="scroll3" class="mui-scroll-wrapper">
            <div class="mui-scroll">
              <div class="mui-loading">
                <div class="mui-spinner">
                </div>
              </div>
              <ul class="mui-table-view account-management" id="account">
                <li class="my-bank-card"><a href="/jijin/Fund_bank/bank_info" class="dpb">银行卡维护</a></li>
                <li class="my-logpwd-mod"><a href="/jijin/Jz_account/revise_passward/0" class="dpb">交易密码修改</a></li>
                <li class="my-risk-test"><a id="risk_result" href="/jijin/Risk_assessment" class="dpb">风险测试[你还未进行测试]</a></li>
                <li class="my-risk-test"><a id="risk_result" href="/jijin/Jz_my/investorManagement" class="dpb">投资者信息管理</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="item4mobile" class="mui-slider-item mui-control-content ">
          <div id="scroll4" class="mui-scroll-wrapper">
            <div class="mui-scroll">
              <div class="mui-loading">
                <div class="mui-spinner">
                </div>
              </div>
              <div class="mui-table-view-cell query-padding">
                <label for="begin"><button id='begin' data-options='{"type":"date","beginYear":2016}' class="btn mui-btn">开始日期</button></label>
                <label for="end"><button id='end' data-options='{"type":"date","beginYear":2016}' class="btn mui-btn">结束日期</button></label>
                <button type="button" id="search" class="mui-btn mui-btn-primary" style="width:28%;">搜索</button>
              </div>
              <div class="mui-table-view-cell history-title">
                <div class="mui-media-body clear delegate">
                  <!-- <div class="delegate-date">订单日期</div> -->
                  <div class="delegate-name">基金名称/交易时间</div>
                  <div class="delegate-oprate">交易类型/状态</div>
                  <div class="delegate-amount">金额/份额</div>
                  <!-- <div class="delegate-more-title"></div> -->
                </div>
              </div>
              <ul class="mui-table-view" id="history">

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/data/jijin/js/mui.min.js"></script>
  <script src="/data/jijin/js/mui.picker.min.js"></script>
  <script src="/data/jijin/js/my.js"></script>
  <script type="text/javascript">
    document.getElementById('buy_fund').addEventListener('tap', function() {
      //打开基金购买页		
      mui.openWindow({
        url: '/application/views/jijin/buy_fund.html',
        id: 'buy_fund'
      });
    });
    document.getElementById('exit').addEventListener('tap', function() {
      //退出基金,返回首页	
      mui.openWindow({
        url: '/jijin/Jz_account/logout',
        id: 'exit'
      });
    });

    pushHistory();
    window.addEventListener("popstate", function(e) {
      // alert("我监听到了浏览器的返回按钮事件啦");
      window.location.href = '<?php echo $base;?>' + '/jijin/Jz_fund';
    }, false);

    function pushHistory() {
      var state = {
        title: "my",
        url: "#"
      };
      window.history.pushState(state, "title", "#");
    }
  </script>
</body>

</html>