.info-list {
  display: flex;
}

.info-list-left {
  width: 115px;
  height: 130px;
  margin: 5px 0;
  background-color: #fbf7f4;
}

.info-list-right {
  margin-left: 15px;
  padding: 10px 0;
  flex: 1;
}

.mui-table-view-cell {
  margin: 10px 0;
  border-right: 0;
  border-left: 0;
}

.info-left-title {
  margin-top: 15px;
  text-align: center;
  color: #c34f4d;
  font-size: 22px;
}

.info-left-adv {
	text-align: center;
	margin-top: 10px;
	color: #333;
}

.info-order {
  width: 85px;
  height: 35px;
  margin: 15px 15px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background-color: #f14a51;
}

.info-right-title {
  font-size: 20px;
  color: #333;
}

.info-tag {
  margin-top: 10px;
}

.info-tag > span {
  margin: 10px 0;
  margin-right: 4px;
  padding: 2px;
  color: #7292bf;
  border: 1px solid #7292bf;
  border-radius: 5px;
}

.info-desc {
  margin-top: 15px;
}

.info-desc > span {
  font-size: 20px;
  margin-right: 10px;
  vertical-align: -2px;
  color: #7292bf;
}

.order-box {
  position: absolute;
  z-index: 10000;
  top: 50%;
  left: 50%;
  width: 270px;
  display: none;
  overflow: hidden;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1.185);
  transform: translate3d(-50%, -50%, 0) scale(1.185);
  text-align: center;
  /* opacity: 0; */
  color: #000;
  border-radius: 13px;
}

.mui-col-pri-5 {
	width: 20%;
}