.head {
    height: 40px;
    border-bottom: 1px solid #ccc;
    background: #fff;
}

.head-back {
    margin-left: 30px;
    line-height: 40px;
}

.head-back-icon {
  position: relative;
  color: #007aff;
}

.head-back-icon:after, .head-back-icon:before {
  border: 9px solid transparent;
  border-right: 10px solid #fff;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: -25px;
  content: ' '
}

.head-back-icon:before {
  border-right-color: #007aff;
  left: -27px;
}


.info-list {
  display: flex;
}

.info-list-left {
  width: 115px;
  height: 130px;
  margin: 5px 0;
  background-color: #fbf7f4;
}

#info {
  min-height: 600px;
}

.info-list-right {
  margin-left: 15px;
  padding: 10px 0;
  flex: 1;
}

.mui-table-view-cell {
  margin: 10px 0;
  border-right: 0;
  border-left: 0;
}

.info-left-title {
  margin-top: 5px;
  text-align: center;
  color: #c34f4d;
  font-size: 22px;
}

.info-left-adv {
	text-align: center;
	margin-top: 10px;
	color: #333;
}

.info-order {
  width: 85px;
  height: 35px;
  margin: 15px 15px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background-color: #f14a51;
}

.info-right-title {
  font-size: 20px;
  color: #333;
}

.info-tag {
  margin-top: 5px;
}

.info-tag > span {
  margin: 3px 4px 0 0;
  padding: 2px;
  color: #7292bf;
  border: 1px solid #7292bf;
  border-radius: 5px;
  display: inline-block;
  line-height: 16px;
}

.info-desc {
  margin-top: 15px;
}

.info-desc > span {
  font-size: 20px;
  margin-right: 10px;
  vertical-align: -2px;
  color: #7292bf;
}

.order-box {
  position: absolute;
  z-index: 10000;
  top: 50%;
  left: 50%;
  width: 270px;
  display: none;
  overflow: hidden;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1.185);
  transform: translate3d(-50%, -50%, 0) scale(1.185);
  text-align: center;
  /* opacity: 0; */
  color: #000;
  border-radius: 13px;
}

.mui-col-pri-5 {
	width: 20%;
}

.fund-list-error {
	text-align: center;
	line-height: 80px;
	color: #007aff;
	display: block;
}

@media screen and (max-width: 320px) {
  .info-list-left {
    width: 105px;
  }

  .info-order {
    margin: 15px 10px;
  }

  .info-list-right {
    padding: 5px 0;
  }

  .info-desc {
    margin-top: 5px;
  }
}

/* 风险测评 */
.risk-test {
  color: #333;
}

.risk-test-title {
  text-align: center;
  font-size: 22px;
  margin-top: 22px;
}

.risk-test-content {
  margin: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.risk-type {
  margin: 10px 0;
}


.risk-type-content input {
  float: left;
  height: 21px;
}

.input-wrap {
  margin-left: 10px;
}

.risk-type-content p {
  background-color: #f5bc44;
  color: #fff;
  padding: 5px;
  margin: 5px 0;
  font-size: 16px;
}

.risk-answer {
  margin: 5px 0 0 20px;
}

.risk-btn-submit {
  float: left;
  width: 45%;
  height: 45px;
  display: block;
  margin: 15px 2%;
  background: #f5bc44;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  border: 0;
  text-align: center;
  line-height: 33px;
}

.risk-back {
  float: right;
  width: 45%;
  height: 45px;
  display: block;
  margin: 15px 2%;
  background: #f5bc44;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  border: 0;
  text-align: center;
  line-height: 33px;
}

/* 评测结果 */
.risk-success .mui-icon {
  font-size: 120px;
  color: #f5bc44;
}

.test-again {
  width: 45%;
  height: 45px;
  background: #f5bc44;
  color: #fff;
  border-radius: 5px;
  padding: 10px 30px;
}

.risk-success p,.risk-success span {
  color: #333;
}