<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1">
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>测评结果</title>
  <link rel="stylesheet" href="../../../data/jijin/css/roboAdvisor.css">
</head>

<body>
  <script>
    var Dpr = 1,
      uAgent = window.navigator.userAgent;
    var isIOS = uAgent.match(/iphone/i);
    var isYIXIN = uAgent.match(/yixin/i);
    var is2345 = uAgent.match(/Mb2345/i);
    var ishaosou = uAgent.match(/mso_app/i);
    var isSogou = uAgent.match(/sogoumobilebrowser/ig);
    var isLiebao = uAgent.match(/liebaofast/i);
    var isGnbr = uAgent.match(/GNBR/i);

    function resizeRoot() {
      var wWidth = (screen.width > 0) ? (window.innerWidth >= screen.width || window.innerWidth == 0) ? screen.width :
        window.innerWidth : window.innerWidth,
        wDpr, wFsize;
      var wHeight = (screen.height > 0) ? (window.innerHeight >= screen.height || window.innerHeight == 0) ?
        screen.height : window.innerHeight : window.innerHeight;
      if (window.devicePixelRatio) {
        wDpr = window.devicePixelRatio;
      } else {
        wDpr = isIOS ? wWidth > 818 ? 3 : wWidth > 480 ? 2 : 1 : 1;
      }
      if (isIOS) {
        wWidth = screen.width;
        wHeight = screen.height;
      }
      // if(window.orientation==90||window.orientation==-90){
      //     wWidth = wHeight;
      // }else if((window.orientation==180||window.orientation==0)){
      // }
      if (wWidth > wHeight) {
        wWidth = wHeight;
      }
      wFsize = wWidth > 1080 ? 144 : wWidth / 7.5;
      wFsize = wFsize > 32 ? wFsize : 32;
      window.screenWidth_ = wWidth;
      if (isYIXIN || is2345 || ishaosou || isSogou || isLiebao || isGnbr) { //YIXIN 和 2345 这里有个刚调用系统浏览器时候的bug，需要一点延迟来获取
        setTimeout(function() {
          wWidth = (screen.width > 0) ? (window.innerWidth >= screen.width || window.innerWidth == 0) ?
            screen.width : window.innerWidth : window.innerWidth;
          wHeight = (screen.height > 0) ? (window.innerHeight >= screen.height || window.innerHeight ==
            0) ? screen.height : window.innerHeight : window.innerHeight;
          wFsize = wWidth > 1080 ? 144 : wWidth / 7.5;
          wFsize = wFsize > 32 ? wFsize : 32;
          // document.getElementsByTagName('html')[0].dataset.dpr = wDpr;
          document.getElementsByTagName('html')[0].style.fontSize = wFsize + 'px';

          // document.getElementById("fixed").style.display = "none";
        }, 500);
      } else {
        // document.getElementsByTagName('html')[0].dataset.dpr = wDpr;
        document.getElementsByTagName('html')[0].style.fontSize = wFsize + 'px';
        // document.getElementsByTagName('html')[0].dataset.dpr = wDpr;
        // document.getElementById("fixed").style.display = "none";
      }
      // alert("fz="+wFsize+";dpr="+window.devicePixelRatio+";UA="+uAgent+";width="+wWidth+";sw="+screen.width+";wiw="+window.innerWidth+";wsw="+window.screen.width+window.screen.availWidth);
    }
    resizeRoot();
    // if (location.protocol === "https:") {
    //   location.href = location.href.replace("https:", "http:")
    // }
  </script>
  <div class="loading">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="ra-wrap" style="display: none;">
    <section class="ra-result-content">
      <div id="testResult" style="width:7rem;height:4rem;" class="test-chart">

      </div>
      <p id="totalAssets">您的家庭总资产为：</p>
      <small class="result-annotation"><span class="line"></span>注：上述图表为加权展示，仅供参考<span class="line"></span></small>
      <p class="result-desc">您的投资类型为：<span id="investType"></span></p>
      <p class="result-desc">风险描述：<span id="description"></span></p>
      <p class="result-desc">风险承受能力：<span id="bearingCapacity"></span></p>
      <p class="result-desc">获利期待：<span id="profitExpect"></span></p>
      <p class="result-desc">推荐金融产品类型：<span id="recommendFinancialProductsType"></span></p>
      <a href="next.html" class="start-btn result-confirm">
        确认
      </a>
      <p class="reevaluation">如果您对测评结果有疑虑，可以选择<a href="riskTest.html">重新测试</a></p>
    </section>
  </div>
  <script src="../../../data/jijin/js/mui.min.js"></script>
  <script src="../../../data/jijin/js/echarts.min.js"></script>
  <!-- <script src="../../../data/jijin/js/roboAdvisor.js"></script> -->
  <script>
    window.onload = function() {
      var option = {
        title: {

        },
        grid: {
          x: 20,
          y: 30
        },
        tooltip: {
          trigger: 'item',
          formatter: "{a} <br/>{b} : {c} "
        },
        legend: {

        },
        toolbox: {

        },
        calculable: true,
        series: [{
          name: '面积模式',
          type: 'pie',
          radius: [30, 70],
          roseType: 'area',
          data: [{
            value: 20,
            name: 'rose1'
          }, {
            value: 20,
            name: 'rose2'
          }, {
            value: 25,
            name: 'rose3'
          }, {
            value: 25,
            name: 'rose4'
          }, {
            value: 20,
            name: 'rose5'
          }, {
            value: 35,
            name: 'rose6'
          }, {
            value: 30,
            name: 'rose7'
          }, {
            value: 40,
            name: 'rose8'
          }]
        }]
      };

      mui.ajax('/jijin/Risk_assessment/getZNTGResult', {
        data: {

        },
        dataType: 'json',
        type: 'GET',
        timeout: 10000,
        success: function(res) {
          console.log(res);
          renderResult(res);
        },
        error: function(xhr, type, errorThrown) {
          console.log(type);
        }
      })

      function renderResult(data) {
        var risk = {};
        switch (data.riskLevel) {
          case '01':
            risk['description'] = '在投资中，保证本金不受损失和保持资产的流动性是您的首要目标。您对投资的态度是希望投资收益极度稳定，不愿承担高风险以换取高收益，不愿意承受投资波动对心理的煎熬，追求稳定。';
            risk['bearingCapacity'] = '极低';
            risk['profitExpect'] = '稳定收益';
            risk['recommendFinancialProductsType'] = '存款、货币市场基金及保本理财商品';
            break;
          case '02':
            risk['description'] = '在任何投资中，稳定是您的首要考虑的因素。您希望在保证本金安全的基础上能有一些增值收入。追求较低的风险，对投资回报的要求不高';
            risk['bearingCapacity'] = '低';
            risk['profitExpect'] = '稳定收益';
            risk['recommendFinancialProductsType'] = '高评等债券型基金及保守型商品';
            break;
          case '03':
            risk['description'] = '任何投资中，在风险较小的情况下获得一定的收益是您主要的投资目的。您通常愿意面临一定的风险，但在做投资决定时，会仔细地对将要面临的风险进行认真的分析。您对风险总是客观存在有清楚的认识。';
            risk['bearingCapacity'] = '中';
            risk['profitExpect'] = '中等收益';
            risk['recommendFinancialProductsType'] = '股票型基金、混合基金、可转债基金、分级基金A份额及安稳型商品';
            break;
          case '04':
            risk['description'] = '在任何投资中，您渴望有较高的投资收益，但又不愿承受较大的风险；可以承受一定的投资波动，但是希望自己的投资风险小于市场的整体风险。您有较高的收益目标，且对风险有清醒的认识。';
            risk['bearingCapacity'] = '中高';
            risk['profitExpect'] = '中高收益';
            risk['recommendFinancialProductsType'] = '可转债基金分级B份及平衡型商品';
            break;
          case '05':
            risk['description'] = '在任何投资中，您通常专注于投资的长期增值，并愿意为此承受较大的风险。短期的投资波动并不会对您造成大的影响，追求超高的回报才是客户关注的目标。';
            risk['bearingCapacity'] = '高';
            risk['profitExpect'] = '高收益';
            risk['recommendFinancialProductsType'] = '债券基金分级B份额、股票基金分级B份额、大宗商品基金、私募股权基金、私募创投基金及成长型商品';
            break;
          default:
            break;
        }
        if (data.login !== 0) {
          window.location.href = '/user/login';
        } else if (data.riskLevel == '') {
          window.location.href = 'roboAdvisor.html'
        } else {
          document.getElementsByClassName('ra-wrap')[0].style.display = 'block';
          document.getElementsByClassName('loading')[0].style.display = 'none';

          document.getElementById('totalAssets').innerHTML = '您的家庭总资产为：' + data.totalAsset;
          document.getElementById('investType').innerHTML = data.riskName;
          document.getElementById('description').innerHTML = risk.description;
          document.getElementById('bearingCapacity').innerHTML = risk.bearingCapacity;
          document.getElementById('profitExpect').innerHTML = risk.profitExpect;
          document.getElementById('recommendFinancialProductsType').innerHTML = risk.recommendFinancialProductsType;

          var seriesData = data.chartData.map(function(item) {
            return {
              name: item.name + '\n' + item.des,
              value: item.value
            }
          })
          console.log(seriesData);
          option.series[0].data = seriesData;
          var riskChart = echarts.init(document.getElementById('testResult'));
          riskChart.setOption(option);
        }
      }
    }
  </script>
</body>

</html>