<!DOCTYPE html>
<meta charset="utf-8" />
<link rel="Shortcut Icon" href="/favicon.ico?v1" type="image/x-icon" />
<meta name="Keywords" content="小牛新财富" />
<meta name="Description" content="小牛新财富" />
<meta name="robots" content="index,follow,noodp,noydir" />
<meta name="viewport" content="width=640px, maximum-scale=1.0, user-scalable=no, target-densitydpi=320" />

<link rel="stylesheet" href="../../../data/css/css.css" />
<link rel="stylesheet" href="../../../data/css/colorbox.css" />
<link rel="stylesheet" href="../../../data/css/idangerous.swiper.css" />
<link rel="stylesheet" href="../../../data/css/number-pb.css" />

<script type="text/javascript" src="../../../data/js/jquery.min.js"></script>
<script type="text/javascript" src="../../../data/js/zepto.min.js"></script>
<script type="text/javascript" src="../../../data/js/awardRotate.js"></script>
<script type="text/javascript" src="../../../data/js/fi.js"></script>
<script type="text/javascript" src="../../../data/js/func.js"></script>
<script type="text/javascript" src="../../../data/js/highcharts.js"></script>
<script type="text/javascript" src="../../../data/js/idangerous.swiper-2.1.min.js"></script>
<script type="text/javascript" src="../../../data/js/iscroll.js"></script>
<script type="text/javascript" src="../../../data/js/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="../../../data/js/jquery.gesture.password.js"></script>
<script type="text/javascript" src="../../../data/js/jquery.velocity.min.js"></script>
<script type="text/javascript" src="../../../data/js/main.js"></script>
<script type="text/javascript" src="../../../data/js/number-pb.js"></script>
