<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no" />	
	<title>私募基金</title>
	<link rel="stylesheet" href="../../../data/jijin/css/mui.min.css">
	<link rel="stylesheet" href="../../../data/jijin/css/priv.css">
</head>
<body>
	<div class="mui-content">
		<div id="slider" class="mui-slider" style="margin: 10px 0;">
			<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted mui-segmented-control-negative" style="background-color: #fff;">
				<a class="mui-control-item" href="#item1mobile">
					股权型
				</a>
				<a class="mui-control-item" href="#item2mobile">
					海外型
				</a>
				<a class="mui-control-item" href="#item3mobile">
					对冲型
				</a>
				<a class="mui-control-item" href="#item4mobile">
					股票型
				</a>
				<a class="mui-control-item" href="#item5mobile">
					债券型
				</a>
				<a class="mui-control-item" href="#item6mobile">
					混合型
				</a>
			</div>
			<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-2"></div>
			<div class="mui-slider-group" id="info" style="height: 800px;">
				<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
					<div id="scroll1" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell">
									<div class="mui-media-body info-list">
										<div class="info-list-left">
											<h4 class="info-left-title">小于4%</h4>
											<button class="info-order">
												预约咨询
											</button>
										</div>
										<div class="info-list-right">
											<h5 class="info-right-title">中金睿投丰融4号</h5>
											<p class="info-tag"><span>多品种</span><span>多周期</span><span>灵活策略</span><span>业绩优异</span></p>
											<p class="info-desc"><span class="mui-icon mui-icon-chatboxes-filled"></span>业绩稳定回撤小、多品种多周期、投资策略灵活</p>
										</div>
									</div>
								</li>
								<li class="mui-table-view-cell">
									<div class="mui-media-body info-list">
										<div class="info-list-left">
											<h4 class="info-left-title">小于4%</h4>
											<button class="info-order">
												预约咨询
											</button>
										</div>
										<div class="info-list-right">
											<h5 class="info-right-title">中金睿投丰融4号</h5>
											<p class="info-tag"><span>多品种</span><span>多周期</span><span>灵活策略</span><span>业绩优异</span></p>
											<p class="info-desc"><span class="mui-icon mui-icon-chatboxes-filled"></span>业绩稳定回撤小、多品种多周期、投资策略灵活</p>
										</div>
									</div>
								</li>
								<li class="mui-table-view-cell">
									<div class="mui-media-body info-list">
										<div class="info-list-left">
											<h4 class="info-left-title">小于4%</h4>
											<button class="info-order">
												预约咨询
											</button>
										</div>
										<div class="info-list-right">
											<h5 class="info-right-title">中金睿投丰融4号</h5>
											<p class="info-tag"><span>多品种</span><span>多周期</span><span>灵活策略</span><span>业绩优异</span></p>
											<p class="info-desc"><span class="mui-icon mui-icon-chatboxes-filled"></span>业绩稳定回撤小、多品种多周期、投资策略灵活</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div id="item2mobile" class="mui-slider-item mui-control-content">
					<div id="scroll2" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<div class="mui-loading">
								<div class="mui-spinner">
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div id="item3mobile" class="mui-slider-item mui-control-content">
					<div id="scroll3" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<div class="mui-loading">
								<div class="mui-spinner">
								</div>
							</div>

						</div>
					</div>
				</div>
				<div id="item4mobile" class="mui-slider-item mui-control-content">
					<div id="scroll4" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<div class="mui-loading">
								<div class="mui-spinner">
								</div>
							</div>

						</div>
					</div>
				</div>
				<div id="item5mobile" class="mui-slider-item mui-control-content">
					<div id="scroll5" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<div class="mui-loading">
								<div class="mui-spinner">
								</div>
							</div>

						</div>
					</div>
				</div>
				<div id="item6mobile" class="mui-slider-item mui-control-content">
					<div id="scroll6" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<div class="mui-loading">
								<div class="mui-spinner">
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="order-box" id="order" style="display: none;">
		<div class="mui-popup-inner">
			<div class="mui-popup-title">预约咨询</div>
			<!-- <div class="mui-popup-text">请输入你对MUI的评语：</div> -->
			<div class="mui-popup-input">
				<input type="text" autofocus="" placeholder="姓名">
				<input type="text" autofocus="" placeholder="电话">
			</div>
		</div>
		<div class="mui-popup-buttons">
			<span class="mui-popup-button" id="cancel">取消</span>
			<span class="mui-popup-button mui-popup-button-bold" id="confirm">确定</span>
		</div>
	</div>
<script src="../../../data/jijin/js/mui.min.js"></script>
<script>
	window.onload = function() {
		document.getElementById('info').addEventListener('tap',function(e) {
			if (e.target.innerHTML.trim() == '预约咨询') {
				document.getElementById('order').style.display = 'block';
			}else {
				document.getElementById('order').style.display = 'none';
			}
			console.log(e.target.innerHTML);
			console.log(this);
		});		
		document.getElementById('cancel').addEventListener('click', function(e) {
			document.getElementById('order').style.display = 'none';
		});
		document.getElementById('confirm').addEventListener('click', function(e) {
			document.getElementById('order').style.display = 'none';			
			mui.toast('提交成功');
		});
	};
</script>
</body>
</html>