<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<title>产品详情</title>
		<link rel="stylesheet" href="../../../../data/jijin/css/mui.min.css"/>
		<link rel="stylesheet" href="../../../../data/jijin/css/style.css">
		<script src="../../../../aboutus/js/mui.min.js"></script>
		<script src="../../../../data/jijin/js/prod.js"></script>
		<script src="../../../../data/jijin/js/echarts-all.js"></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">产品详情</h1>
		</header>
		<div class="mui-content">
			<section class="m-content">
				<div class="m-content-t1">
					<div class="fund-data">
						<div class="m-content-t1-detail">
							<p class="mui-text-left" id="fundname"></p>
							<p class="day-num dayGrow" style="font-size: 20px;"></p>
							<p class="dayUp"></p>
						</div>
						<div class="m-content-t1-detail">
							<p class="mui-text-right date"></p>
							<p class="day-num dayNew" style="font-size: 20px;"></p>
							<p class="newVal"></p>							
						</div>	
					</div>
					<div class="fund-index">
						<div class="mui-row fund-index">
							<div class="mui-col-xs-6">
								<span class="mui-text-left" id="fundIndex"></span>  |<span class="fund-msg"></span>|
							</div>
							<div class="mui-col-xs-6 mui-text-right level">
								评级 
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<div class="tab-view">
				<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
					<a class="mui-control-item mui-active" href="#achiev-tab">业绩走势</a>
					<a class="mui-control-item" id="historyVal" href="#histroy-tab">历史净值</a>					
				</div>
			</div>
			<div class="subtab-viw">
				<div id="achiev-tab" class="mui-control-content mui-active">					
		        <div id="chartContent">
		          	<div class="m-content-t3-chart" style="height: 280px;display: block;" id="one" data-day = "1"></div>
		          	<div class="m-content-t3-chart" style="height: 280px;" id="three" data-day = "3"></div>
		          	<div class="m-content-t3-chart" style="height: 280px;" id="six" data-day = "6"></div>
		          	<div class="m-content-t3-chart" style="height: 280px;" id="year" data-day = "12"></div>
		        </div>					
		        <div class="m-content-t3-tab" id="worthChart">
		          	<div class="tabItem tab-active">1月</div>
		          	<div class="tabItem">3月</div>
		          	<div class="tabItem">6月</div>
		         	<div class="tabItem">1年</div>
		        </div>					
				</div>
				<div id="histroy-tab" class="mui-control-content">
					<div class="mui-content-padded" >
						<div class="mui-row history-title">								
							<div class="mui-col-xs-4 mui-text-left">日期</div>
							<div class="mui-col-xs-4 mui-text-center">单位净值(元)</div>
							<div class="mui-col-xs-4 mui-text-right">日涨跌幅(%)</div>
						</div>
						<div id="historyCont">
						</div>
					</div>
					
				</div>
			</div>
			<ul class="mui-table-view fund-charge" id="fund-list">
		        <li class="mui-table-view-cell">
		            <a class="mui-navigate-right">基金概括</a>		
		        </li>
		        <li class="mui-table-view-cell">
		            <a class="mui-navigate-right">交易须知</a>		
		        </li>			        
		    </ul>
		    <p class="mui-text-center waring-text">基金过往业绩不预示其未来表现，市场有风险，投资需谨慎。</p>
			<section class="m-footer" id="buy_fund">
      			
    		</section>
		</div>
		
		<script type="text/javascript">
			mui.init();
			mui.ready(function() {
				function getUrlParam(name) {		//获取url地址参数
					var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
					var r = window.location.search.substr(1).match(reg); //匹配目标参数
					if(r != null) return unescape(r[2]);
					return null; //返回参数值
				}				
//				function loadPages(url) { //用于页面跳转
//					mui.openWindow({
//						url: url,
//						id: url
//					});
//				}
				var fundcode =getUrlParam("fundcode");
				var oLi = document.getElementById("fund-list"); //获取绑定事件对象
				var oLiChlid = oLi.childNodes;
				for(var i = 0; i < oLiChlid.length; i++) {
					oLiChlid[i].addEventListener("tap", function() {						
						var strA = this.children[0].innerHTML;						
						if(strA == "基金概括") { //跳转到基金概括
							var url = "summ/?fundcode="+fundcode;
							this.childNodes[1].href= url;
						} else if(strA == "交易须知") { //跳转到交易须知							
							var url = "tradelist/?fundcode="+fundcode;
							this.childNodes[1].href= url;
						}
					});
				}

			});
		</script>
	</body>

</html>