<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" />
		<title>产品详情</title>
		<link rel="stylesheet" href="../../../../data/jijin/css/mui.min.css"/>
		<link rel="stylesheet" href="../../../../data/jijin/css/style.css"/>
		<script src="../../../../aboutus/js/mui.min.js"></script>
		<script src="../../../../data/jijin/js/prod.js"></script>
		<script src="../../../../data/jijin/js/echarts-all.js"></script>
		<!--<script src="../../../../data/jijin/js/echarts.min.js"></script>-->
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">产品详情</h1>
		</header>
		<div class="mui-content">
			<section class="m-content">
				<div class="m-content-t1">
					<div class="fund-data">
						<div class="m-content-t1-detail">
							<p class="mui-text-left" id="fundname"></p>
							<p class="day-num dayGrow" style="font-size: 20px;"></p>
							<p class="dayUp"></p>
						</div>
						<div class="m-content-t1-detail">
							<p class="mui-text-right date"></p>
							<p class="day-num dayNew" style="font-size: 20px;"></p>
							<p class="newVal"></p>							
						</div>	
					</div>
					<div class="fund-index">
						<div class="mui-row fund-index">
							<div class="mui-col-xs-6">
								<span class="mui-text-left" id="fundIndex"></span>  |<span class="fund-msg"></span>|
							</div>
							<div class="mui-col-xs-6 mui-text-right level">
								评级 
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<div class="tab-view">
				<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
					<a class="mui-control-item mui-active" href="#achiev-tab">业绩走势</a>
					<a class="mui-control-item" id="historyVal" href="#histroy-tab">历史净值</a>					
				</div>
			</div>
			<div class="subtab-viw">
				<div id="achiev-tab" class="mui-control-content mui-active">					
		        <div id="chartContent">
		          	<div class="m-content-t3-chart" style="height: 280px;display: block;" id="one" data-day = "1"></div>
		          	<div class="m-content-t3-chart" style="height: 280px;" id="three" data-day = "3"></div>
		          	<div class="m-content-t3-chart" style="height: 280px;" id="six" data-day = "6"></div>
		          	<div class="m-content-t3-chart" style="height: 280px;" id="year" data-day = "12"></div>
		        </div>					
		        <div class="m-content-t3-tab" id="worthChart">
		          	<div class="tabItem tab-active">1月</div>
		          	<div class="tabItem">3月</div>
		          	<div class="tabItem">6月</div>
		         	<div class="tabItem">1年</div>
		        </div>					
				</div>
				<div id="histroy-tab" class="mui-control-content">
					<div class="mui-content-padded" >
						<div class="mui-row history-title">								
							<div class="mui-col-xs-4 mui-text-left">日期</div>
							<div class="mui-col-xs-4 mui-text-center" id="netVal"></div>
							<div class="mui-col-xs-4 mui-text-right" id="dayGrowUp"></div>
						</div>
						<div id="historyCont">
						</div>
					</div>
					
				</div>
			</div>
			<ul class="mui-table-view fund-charge" id="fund-list">
		        <li class="mui-table-view-cell">
		            <a class="mui-navigate-right">基金概况</a>		
		        </li>
		        <li class="mui-table-view-cell">
		            <a class="mui-navigate-right">交易须知</a>		
		        </li>			        
		    </ul>
		    <p class="mui-text-center waring-text">基金过往业绩不预示其未来表现，市场有风险，投资需谨慎。</p>
			<section class="m-footer" id="buy_fund">
      			
    		</section>
		</div>
	</body>

</html>